*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  font-family: "Nunito", sans-serif;
  color: #6D5D4B;
  font-weight: 300;
  line-height: 1.6; }

.sidebar {
  background-color: #101d2c; }

.header {
  background-color: #54483A; }

.realtors {
  background-color: #212F3D; }

.features {
  background-color: #aaa; }

.story__pictures {
  background-color: #101d2c; }

.story__content {
  background-color: #f9f7f6; }

.homes {
  background-color: #2E4053; }

.gallery {
  background-color: #54483A; }

.footer {
  background-color: #2E4053; }
